<section id="contact">

  <form (ngSubmit)="send()" #contactForm="ngForm">

    <input
      type="text"
      name="name"
      placeholder="Name"
      [(ngModel)]="message.name"
      required>

    <input
      type="email"
      name="email"
      placeholder="Email"
      [(ngModel)]="message.email"         
      required>

    <textarea
      name="message"
      placeholder="Your message"
      [(ngModel)]="message.message"
      required>
    </textarea>

    <button type="submit">
      Send Message
    </button>

  </form>

</section>