<p>home.component works!</p>
<!-- <router-outlet></router-outlet> -->

    <!-- <nav>
    <div class="logo">Portfolio</div>

    <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/skills">Skills</a></li>
        <li> <a routerLink="/projects">Projects</a></li>
        <li><a routerLink="/education">education</a></li>
        <li><a routerLink="/contact">Contact</a></li>
       
    </ul>
</nav> -->
    <section id="home">
    <img src="profile.jpg">

    <h1>Sama Abdelnaser</h1>

    <h2 id="typing-text"></h2>

    <a href="Sama Abdelnaser cv.pdf" download>
        Download CV
    </a>
</section>
    <section id="about">
    <h2>About Me</h2>

    <p>
        Brief introduction and career objective.
    </p>
</section>
    <!-- <section id="skills">

    
    <div *ngFor="let skill of skills">
  {{skill}}
</div>

</section>
<section id="timeline">

    <div class="timeline-item">
        <h3>2023</h3>
        <p>Started learning Data Analysis</p>
    </div>

    <div class="timeline-item">
        <h3>2024</h3>
        <p>Completed projects and training</p>
    </div>

</section>

    <section id="projects">

    <div class="project-card">

        <img src="dashboard.PNG">

        <h3>Sales Dashboard</h3>

        <p>
            Power BI dashboard for sales analysis.
        </p>

        <button>GitHub</button>

        <button>Live Demo</button>

    </div>

</section>
<section id="education">

    <div class="education-card">
        University
    </div>

    <div class="education-card">
        DEPI
    </div>

</section>
    -->
<!-- <section id="contact">

    <form>

        <input type="text" placeholder="Name">

        <input type="email" placeholder="Email">

        <textarea></textarea>

        <button>
            Send Message
        </button>

    </form>

</section>  -->
